html, body {
    margin: 0;
    height: 100%;
    text-align: center;
}

body {
    background-image: url('images/avenger-3382834_1920.jpg');
    background-size: cover;
}

h2 {
    font-family: arial, sans-serif;
    color: white;
}

h3 {
    font-family: Avengeance heroic avenger;
}

img {
    border-radius: 5px;
    margin-top: 100px;
    width: 280px;
    height: 400px;
    border: 10px solid grey;
}

#title {
    font-size: 75px;
    color: white;
    font-family: Avengeance heroic avenger;

}

#startBox {
    background-color: grey;
    width:200px;
    display: inline-block;
    margin-top: 60px;
    border: 2px solid white;
    border-radius: 5px;
}

#startBtn {
    margin-bottom: 30px;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
    display: none;
    font-family: arial, sans-serif;
}

#modal1 {
    font-size: 20px;
    text-align: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
	height: 250px;
	width: 450px;
	border-radius: 10px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: none;
    font-family: arial, sans-serif;
}

#modal2 {
    font-size: 20px;
    text-align: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 10px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: none;
    font-family: arial, sans-serif;
}

#modal3 {
    font-size: 20px;
    text-align: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 10px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: none;
    font-family: arial, sans-serif;
}

#modal4 {
    font-size: 20px;
    text-align: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
	height: 351px;
	width: 550px;
	border-radius: 10px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: none;
    font-family: arial, sans-serif;
}
